{% extends 'base.html' %}

{% block content %}

<table class="center-table">
  {% for row in session['board'] %}
  <tr>
    {% for item in row %}
    <td>
      <div class="letter">{{ item }}</div>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<form id="guess-form" action="/submit-word">
  <label for="guess">guess</label>
  <input type="text" name="guess" id="">
  <div>
    <button id="submit-guess" type="submit" class="btn btn-primary">submit</button>
  </div>
</form>

{% endblock %}